

<div class="registration-form">
    <form [formGroup]="signUpForm" (ngSubmit)="RegisterUser()">
        <div class="form-icon">
            <span><i class="icon icon-user"></i></span>
        </div>
        <div class="form-group">
            <input type="text" class="form-control item" id="username" placeholder="Username" formControlName="displayName" >
            <p *ngIf="signUpForm.controls['displayName'].touched &&  signUpForm.controls['displayName'].hasError('required') || signUpForm.controls['displayName'].hasError('pattern')  "
            style="color: red"> Please Enter a Valid Name </p>
        </div>
        <div class="form-group">
            <input type="email" class="form-control item" id="email" placeholder="Email" formControlName="email">
            <p *ngIf=" signUpForm.controls['email'].touched &&  signUpForm.controls['email'].hasError('required') || signUpForm.controls['email'].hasError('pattern') "
            style="color: red"> PLease Enter a valid E-mail</p>
        </div>
        <div class="form-group">
            <input  matInput [type]="showPassword ? 'password' : 'text'" class="form-control item"  id="password" placeholder="Password" formControlName="password">
            <mat-icon matSuffix (click)="togglePasswordVisibility()">{{showPassword?'visibility_off':'visibility'}}</mat-icon>
            <p style=" color: red;" *ngIf="signUpForm.controls['password'].touched &&  signUpForm.controls['password'].hasError('required') || signUpForm.controls['password'].hasError('pattern') ">
                Password must contain more than 8 characters, 1 upper case letter, and
                1 special character
            </p>
        </div>
        <div class="form-group">
            <button type="submit" [disabled]="!isSingleClick" class="btn btn-block create-account">Create Account</button>
        </div>
    </form>
    <div class="social-media">
        <h5>Already a user ?</h5>
        <div class="social-icons">
            <button type="text" class="btn btn-block " (click)="login()">login</button>
        </div>
    </div>
    </div> 
