<div class="main-container">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-4 col-sm-12 col-xs-12">
                <div class="card p-4">

                    <div class="d-flex ">
                        <h2 class="flex-grow-1 justify-self-center">Create Post </h2>
                    </div>
                    <div *ngIf="URL  then ifpart ; else elsepart">

                    </div>
                    <ng-template #ifpart>
                    
                        <img [src]=URL alt="" srcset="" style="width: 300px; height: 300px;"
                            *ngIf="FileUpload.type==='image/jpeg'">
                        <video controls autoplay style=" width: 300px; height: 300px;" muted
                            *ngIf="FileUpload.type==='video/mp4'">
                            <source [src]="URL" type="video/mp4">
                        </video>
                    </ng-template>
                    <ng-template #elsepart></ng-template>
                    <div class="d-flex flex-row temp mt-5 mb-3 justify-content-around">
                        <label> Choose Image </label>
                        <button class="btn" (click)="post.click()"> <mat-icon>add_a_photo</mat-icon></button>
                        <input type="file" #post (change)="SelectImage($event)" hidden>
                    </div>
                     <!-- For showing Progress -->
                    <div *ngIf="uploadPercent | async as progress ">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [ngClass]="{
                                 'bg-danger': progress < 25,
                                 'bg-warning': progress >= 25 && progress < 50,
                                 'bg-info': progress >= 50 && progress < 75,
                                 'bg-success': progress >= 75
                               }" [style.width.%]="progress" [attr.aria-valuenow]="progress" aria-valuemin="0"
                                aria-valuemax="100">
                                {{ getProgress() | async }}%
                            </div>
                        </div>
                    </div>
                    <form (ngSubmit)="PostData()">
                        <div class="d-flex flex-row justify-content-around temp mt-5 mb-3 ">
                            <label> Add Description </label>
                            <input type="text" [(ngModel)]="discriptionMessage" name="messgae" (focus)="onFocus()"
                                placeholder="Type Message ..........">
                        </div>
                        <emoji-mart class="emoji-mart" *ngIf="isEmojiPickerVisible" (emojiSelect)="addEmoji($event)"
                            title="Choose your emoji"></emoji-mart>
                        <button type="submit" *ngIf="URL"> CreatePost </button>
                    </form>
                    <button type="button" (click)="isEmojiPickerVisible = !isEmojiPickerVisible;">😀</button>

                </div>
            </div>
        </div>


    </div>
</div>