<section class="main">
    <div class="wrapper">
        <div class="left-col">
            <div class="post" *ngFor=" let post of Posts">
                <div class="info">
                    <div class="user">
                        <div class="profile-pic"><img src="img/cover 1.png" alt=""></div>
                        <p class="username">{{post.userName}}</p>
                    </div>
                    <img [src]=post.photoUrl class="options" alt="">
                </div>
                <img [src]=post.Url class="post-image" alt="">
                <div class="post-content">
                    <div class="reaction-wrapper">
                        <button (click)="LikePost(post.postId,showLike(post.postId))"><mat-icon>{{!showLike(post.postId)
                            ?'thumb_up':'thumb_down'}}</mat-icon></button>
                        <!-- <img src="img/like.PNG" class="icon" alt="">
                        <img src="img/comment.PNG" class="icon" alt="">
                        <img src="img/send.PNG" class="icon" alt="">
                        <img src="img/save.PNG" class="save icon" alt=""> -->
                    </div>
                    <button mat-button [matMenuTriggerFor]="likes" class="btn">Liked by  {{post.Likes.length}} </button>
                    <mat-menu #likes="matMenu"  class="likes">
                        <ul mat-menu-item *ngFor="let name of post.Names" >
                          <li>
                              {{name}}
                          </li>
                        </ul>
                      </mat-menu>
                    <p class="description"><span>{{post.userName}} </span> {{post.Description}}</p>
                    <p class="post-time">2 minutes ago</p>
                </div>
                <div class="comment-wrapper">
                    <img src="img/smile.PNG" class="icon" alt="">
                    <input type="text" class="comment-box" placeholder="Add a comment">
                    <button class="comment-btn">post</button>
                </div>
            </div>
           </div>   
    </div>
</section>